.linechart-container{
    width: 100%;
    align-items: center;
    background-color: #FFFFFF;
    border-radius: 20px;
    
}
.chartle-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2% 0 2%;
}
.audience{
    display: flex;
    width: 10%;
    justify-content: space-between;
    margin-right: 3%;
}
.audience>p{
    font-weight: 400;
    font-size: 14px;
}
.years>p{
    color: #858585;
    font-weight: 400;
    font-size: 14px;
}
div.years{
    line-height: 80%;
}
.years>h4{
    font-weight: 700;
    font-size: 18px;
}
.chart{
    padding: 0 2% 2% 2%;
}

