.parent{
    display: flex;
    justify-content: space-around;
}
.signin{
    
    margin-top: 5%;
}
.signin>h2{
    font-size: 30px;
}
.sign-form>label{
    font-size: 20px;
}
.sign-form>input{
    /* background-color: rgb(244, 250, 250); */
    border: none;
    margin-bottom: 10%;
    margin-top: 5%;
    padding: 4%;
    width: 140%;
    font-size: 16px;
    border-radius: 10px;
}
.sign-form>button{
    padding: 4% 10%;
    font-size: 16px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}
.sign-form>button:hover{
    background-color: black;
    color: white;
}