.footer{
    display: flex;
    justify-content: space-around;
    background-color: black;
    margin-top: 3%;
    height: 30%;
    color: white;
    padding-top: 2%;
    padding-bottom: 2%;
}
.footer-container{
    display: flex;
    justify-content: space-between;
    width: 25%;
}
